body {
    font-family: Arial, sans-serif;
}

.info {
    font-size: small;
    background-color: #dfdfdf;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    color: white;
    background-color: #4682b4;
    padding: 10px;
    text-align: center;
    text-shadow: 2px 2px navy;
}

#zentai {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.box {
    background: linear-gradient(to bottom, white, #ffefaf);
    padding: 5px;
    height: 200px;
    overflow: hidden;
}

.box h2 {
    color: #3f3faf;
    font-family: cursive;
}

.box p {
    color: #3f3faf;
}

.firefox-icon {
    float: right;
    width: 30px;
}
