body {
    font-family: Arial, sans-serif;
}

.info {
    font-size: small;
    background-color: #dfdfdf;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    color: white;
    background-color: transparent;
    padding: 10px;
    text-align: left;
    text-shadow: 0 0 5px rgba(0, 0, 128, 0.5), 0 0 10px rgba(0, 0, 128, 0.5), 0 0 15px rgba(0, 0, 128, 0.5);
}

p, ul {
    color: #00008B;
}

#zentai {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.box {
    background-color: #ffefaf;
    padding: 5px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.box h2 {
    display: inline-block;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
    padding: 0 10px;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #3f3faf;
    position: relative;
    z-index: 1;
}

.box h2::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -50px;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
    z-index: -1;
}

.box p {
    color: blue;
}

.firefox-icon {
    width: 50px;
    height: auto;
    float: right;
    margin: -5px 10px 10px 10px;
}
